doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Albums
        .cards 
            each album in data
                .card 
                    h2.card__name #{album.properties.name} By #{album.properties.artist}
                    p.card__year Year: #{album.properties.year}
                    p.card__year Style: #{album.properties.style}
                    a(href=`update?hs_object_id=${album.properties.hs_object_id}`) edit
            .card
                a(href='/add')
                    input(type='button' value='Add Album') 
                

                                